{% extends 'base.html' %}
{% comment %} {% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-5">

        <div class="card shadow-sm border-0">

            <div class="card-body p-4">

                <h3 class="text-center mb-4">Register</h3>

                {% if messages %}

                    {% for message in messages %}

                        <div class="alert alert-danger">
                            {{ message }}
                        </div>

                    {% endfor %}

                {% endif %}

                <form method="POST">

                    {% csrf_token %}

                    <input
                        type="text"
                        name="username"
                        class="form-control mb-3"
                        placeholder="Username"
                    >

                    <input
                        type="password"
                        name="password"
                        class="form-control mb-3"
                        placeholder="Password"
                    >

                    <button class="btn btn-dark w-100">
                        Register
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %} {% endcomment %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-5">

        <div class="card shadow-sm border-0">

            <div class="card-body p-4">

                <h3 class="text-center mb-4">
                    Register
                </h3>

                <form method="POST">

                    {% csrf_token %}

                    <input
                        type="text"
                        name="username"
                        class="form-control mb-3"
                        placeholder="Username"
                        required
                    >

                    <input
                        type="password"
                        name="password"
                        class="form-control mb-3"
                        placeholder="Password"
                        required
                    >

                    <button class="btn btn-dark w-100">
                        Register
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}

